
a{text-decoration:none;color:$blue;}
ul, li{margin:0;padding:0;list-style:none;}

textarea, input[type=text], input[type=email]{
    padding:5px;
    border:none;
    background-color:$white;

    @include rounded(5px);
}

.placeheld{color:$grey;}

input[type=button], input[type=submit], .button{
    $color:#d5d5d5;

    padding:7px 10px;

    font-size:14px;
    font-weight:bold;
    color:$color - #777;
    text-shadow: $color + #444 0 1px 2px;
    text-align:center;

    border:1px solid $color - #181818;
    background-color:$color;
    @include box-shadow(0, 1px, 2px, $black);
    @include gradient($color + #080808, $color - #181818);
    @include rounded();
}

.clearfix:before, .clearfix:after { 
    content: "\0020"; 
    display: block; 
    height: 0; 
    overflow: hidden;
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.w960{
    display:block;
    width:960px;
    height:100%;
    margin-left:auto;
    margin-right:auto;
}

#dialog{display:none;}
