
a{text-decoration:none;color:$blue;}
a:hover{text-decoration:underline;}
ul, li{margin:0;padding:0;list-style:none;}

textarea, input[type=text], input[type=email]{
    padding:5px;
    border:none;
    background-color:$white;

    @include rounded(5px);
}

.placeheld, ::-webkit-input-placeholder, :-moz-placeholder{color:$grey;}

$button-color: #d5d5d5;

input[type=button], input[type=submit], .button{
    padding:7px 10px;

    font-size:14px;
    font-weight:bold;
    color:$button-color - #777;
    text-shadow: $button-color + #444 0 1px 2px;
    text-align:center;

    border:1px solid $button-color - #181818;
    background-color:$button-color;
    @include box-shadow(0, 1px, 2px, $black);
    @include gradient($button-color + #080808, $button-color - #181818);
    @include rounded();
}

input[type=button]:hover, input[type=submit]:hover, .button:hover {
    text-decoration:none;
    color:$button-color - #888;
    @include gradient($button-color + #111, $button-color - #222);
}

.clearfix:before, .clearfix:after { 
    content: "\0020"; 
    display: block; 
    height: 0; 
    overflow: hidden;
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.w960{
    display:block;
    width:960px;
    height:100%;
    margin-left:auto;
    margin-right:auto;
}

#dialog{display:none;}
