/*  HTML5 ✰ Boilerplate  */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font: 13px/1.231 sans-serif;
  *font-size: small; }

select, input, textarea, button {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

html {
  overflow-y: scroll; }

a:hover, a:active {
  outline: none; }

ul, ol {
  margin-left: 2em; }

ol {
  list-style-type: decimal; }

nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td {
  vertical-align: top; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px; }

textarea {
  overflow: auto; }

.ie6 legend, .ie7 legend {
  margin-left: -7px; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: #FF5E99; }

button {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

body, select, input, textarea {
  color: #444; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

/**
* clearfix
* usage:
    .container elem{float:right}
    .container:after {@include clearfix();}
**/
/**
* Rounded corners:
    @rounded($radius: 10px);
    @rounded-top($radius: 10px);
    @rounded-top-right($radius: 10px);
    @rounded-top-left($radius: 10px);
    @rounded-bottom($radius: 10px);
    @rounded-bottom-right($radius: 10px);
    @rounded-bottom-left($radius: 10px);
**/
a {
  text-decoration: none;
  color: #1b75bb; }

a:hover {
  text-decoration: underline; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

textarea, input[type=text], input[type=email] {
  padding: 5px;
  border: none;
  background-color: #f1f1f2;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.placeheld, ::-webkit-input-placeholder, :-moz-placeholder {
  color: #999999; }

input[type=button], input[type=submit], .button {
  padding: 7px 10px;
  font-size: 14px;
  font-weight: bold;
  color: #5e5e5e;
  text-shadow: white 0 1px 2px;
  text-align: center;
  border: 1px solid #bdbdbd;
  background-color: #d5d5d5;
  -moz-box-shadow: 0 1px 2px #0a0a0a;
  -webkit-box-shadow: 0 1px 2px #0a0a0a;
  box-shadow: 0 1px 2px #0a0a0a;
  background: #bdbdbd;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#bdbdbd));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #dddddd, #bdbdbd);
  /* for firefox 3.6+ */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

input[type=button]:hover, input[type=submit]:hover, .button:hover {
  text-decoration: none;
  color: #4d4d4d;
  background: #b3b3b3;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#b3b3b3));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #e6e6e6, #b3b3b3);
  /* for firefox 3.6+ */ }

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.w960 {
  display: block;
  width: 960px;
  height: 100%;
  margin-left: auto;
  margin-right: auto; }

#dialog {
  display: none; }

html, body {
  background-image: url(../img/bg.png); }

html {
  background-color: #87888B; }

body {
  /*@include gradient(#E5E5E6, #87888B);*/
  font-size: 14px; }

#top-bar {
  background-color: #0a0a0a;
  /*background-image:url(../img/chalkboard_thin.jpg);*/
  text-align: right;
  font-size: 13px;
  padding: 5px;
  color: #777777; }
  #top-bar a {
    color: #999999;
    margin-right: 10px; }
  #top-bar .login, #top-bar .logout {
    color: #f1f1f2;
    margin-right: 2px; }
  #top-bar .logout, #top-bar .email {
    display: none; }

header {
  height: 50px;
  background-color: #2c2c2c;
  /*@include gradient($black + #383838, $black);*/
  background-image: url(../img/ab_grad.png);
  border-top: 1px solid #5f5f5f;
  border-bottom: 1px solid #3d3d3d;
  -moz-box-shadow: 0 1px 0px #0a0a0a;
  -webkit-box-shadow: 0 1px 0px #0a0a0a;
  box-shadow: 0 1px 0px #0a0a0a; }
  header .w960 {
    position: relative; }
  header #logo {
    margin-top: 5px;
    width: auto;
    height: 42px; }
  header ul {
    height: 100%;
    position: absolute;
    top: 0;
    left: 200px;
    width: 760px; }
    header ul li {
      height: 100%;
      float: left; }
      header ul li a {
        display: block;
        margin: 12px 5px 0;
        padding: 6px 15px 8px;
        font-size: 12px;
        font-weight: bold;
        color: #d6d6d6;
        text-shadow: #2c2c2c 0 -1px 2px;
        background-color: #2c2c2c;
        border: 1px solid #1b1b1b;
        border-top: 1px solid #929292;
        background: #444444;
        /* for non-css3 browsers */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
        /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#444444));
        /* for webkit browsers */
        background: -moz-linear-gradient(top, #707070, #444444);
        /* for firefox 3.6+ */
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-box-shadow: 0 1px 2px black;
        -webkit-box-shadow: 0 1px 2px black;
        box-shadow: 0 1px 2px black;
        -moz-box-shadow: 0 -1px 1px #1b1b1b;
        -webkit-box-shadow: 0 -1px 1px #1b1b1b;
        box-shadow: 0 -1px 1px #1b1b1b; }
      header ul li a:hover {
        background: #4e4e4e;
        /* for non-css3 browsers */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
        /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#747474), to(#4e4e4e));
        /* for webkit browsers */
        background: -moz-linear-gradient(top, #747474, #4e4e4e);
        /* for firefox 3.6+ */
        color: #f1f1f2;
        text-decoration: none; }
      header ul li a:active {
        padding: 8px 15px 6px;
        border: 1px solid #2c2c2c;
        background: #4e4e4e;
        /* for non-css3 browsers */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
        /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#3d3d3d), to(#4e4e4e));
        /* for webkit browsers */
        background: -moz-linear-gradient(top, #3d3d3d, #4e4e4e);
        /* for firefox 3.6+ */
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-box-shadow: 0 1px 1px #707070;
        -webkit-box-shadow: 0 1px 1px #707070;
        box-shadow: 0 1px 1px #707070; }
    header ul li.right {
      float: right;
      margin-right: -6px; }

#body {
  padding: 10px 0 0; }
  #body .listing {
    padding: 10px 0; }
    #body .listing #listing-image {
      padding: 10px;
      background-color: #f1f1f2;
      height: 418px;
      width: 560px;
      float: left;
      -moz-box-shadow: 0 4px 8px #3d3d3d;
      -webkit-box-shadow: 0 4px 8px #3d3d3d;
      box-shadow: 0 4px 8px #3d3d3d; }
      #body .listing #listing-image img {
        border: 1px solid #999999; }
    #body .listing #listing-sidebar {
      float: right;
      height: 418px;
      width: 340px;
      padding: 10px;
      background-color: #f1f1f2;
      position: relative;
      -moz-box-shadow: 0 4px 8px #3d3d3d;
      -webkit-box-shadow: 0 4px 8px #3d3d3d;
      box-shadow: 0 4px 8px #3d3d3d; }
      #body .listing #listing-sidebar .map {
        /*position:absolute;
        bottom:10px;
        left:10px;*/
        width: 340px;
        height: 200px;
        border: 1px solid #999999;
        /*@include box-shadow(0, 1px, 2px, $black);*/ }
      #body .listing #listing-sidebar #listing-offerbar {
        margin: 15px 0 20px;
        padding: 0;
        -moz-box-shadow: 0 1px 2px #0a0a0a;
        -webkit-box-shadow: 0 1px 2px #0a0a0a;
        box-shadow: 0 1px 2px #0a0a0a;
        border: 1px solid #bdbdbd;
        background: #bdbdbd;
        /* for non-css3 browsers */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to');
        /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#bdbdbd));
        /* for webkit browsers */
        background: -moz-linear-gradient(top, #dddddd, #bdbdbd);
        /* for firefox 3.6+ */
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        font-weight: bold;
        color: #5e5e5e;
        text-shadow: white 0 1px 2px; }
        #body .listing #listing-sidebar #listing-offerbar .listing-obi {
          border-right: 1px solid #b3b3b3;
          padding: 5px 10px;
          width: 92px;
          height: 100%;
          float: left; }
          #body .listing #listing-sidebar #listing-offerbar .listing-obi .listing-obi-title {
            font-weight: bold;
            font-size: 12px; }
          #body .listing #listing-sidebar #listing-offerbar .listing-obi .listing-obi-value {
            font-size: 26px;
            font-weight: bold; }
        #body .listing #listing-sidebar #listing-offerbar .listing-obi.asking {
          color: #006012; }
        #body .listing #listing-sidebar #listing-offerbar .listing-obi.date {
          border-right: none; }
      #body .listing #listing-sidebar .button {
        float: left;
        display: block;
        width: 140px; }
      #body .listing #listing-sidebar .button#offer {
        color: #b10000; }
      #body .listing #listing-sidebar .button#question {
        float: right; }
      #body .listing #listing-sidebar #listing-description {
        margin-top: 70px; }

footer {
  text-align: center;
  padding: 0;
  font-size: 12px;
  color: #cfcfd0; }
  footer a {
    color: #d9d9da;
    margin-right: 10px; }
  footer a:hover {
    text-decoration: underline; }

#dialog label {
  vertical-align: top;
  display: block;
  margin-bottom: 10px; }
  #dialog label input {
    float: right; }
#dialog label.password {
  display: none; }
  #dialog label.password .password-text {
    float: left;
    width: 100px; }
#dialog input {
  width: 150px; }
#dialog a {
  display: block;
  font-size: 12px; }
#dialog a.password {
  text-align: right; }
#dialog a.cancel-password {
  float: left; }
