<script id="listingOfferDialog" type="text/html">
    <form>
        <label class="amount">
            Amount:
            <input type="text" name="amount" />
        </label>
        <label class="email clearfix">
            Email:
            <input type="email" name="email" />
        </label>
        <a href="#" class="password">Returning user?</a>
        <label class="password clearfix">
            <div class="password-text">Password:</div>
            <input type="password" name="password" />
            <a href="#" class="cancel-password">New user?</a>
        </label>
    </form>
</script>