<script id="listingPage" type="text/html">
<div class="listing clearfix">

    <div id="listing-image"><img /></div>

    <div id="listing-sidebar">
        <a href=""><img class="map" /></a>

        <div id="listing-offerbar" class="clearfix">
            <div class="listing-obi asking">
                <div class="listing-obi-title">Asking Price</div>
                <div class="listing-obi-value"></div>
            </div>
            <div class="listing-obi best-offer">
                <div class="listing-obi-title">Best Offer</div>
                <div class="listing-obi-value"></div>
            </div>
            <div class="listing-obi date">
                <div class="listing-obi-title">Minutes Ago</div>
                <div class="listing-obi-value"></div>
            </div>
        </div>
        <a href="#" id="offer" class="button">Make an offer</a>
        <a href="#" id="question" class="button">Ask a Question</a>

        <div id="listing-description"></div>
    </div>

</div>
</script>