<!DOCTYPE html>
<html>
    <head>
        <script src="/media/js/jquery-1.5.1.js"></script>
        <script src="/media/js/jquery.rest.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#get span').click(function(e) {
                    e.preventDefault();
                    href = $(this).text();
                    $.get(href, function(data) {
                        console.log(data);                
                    });
                });
            });
        </script>
        <style>
            div { margin: 1em; }
            span { display: block; }
        </style>
    </head>
    <body>
        <div id="get">
            <strong>GET</strong>
            <span>/api/v1/</span>
            <span>/api/v1/listing/</span>
            <span>/api/v1/listing/1/</span>
            <span>/api/v1/offer/</span>
            <span>/api/v1/offer/1/</span>
            <span>/api/v1/comment/</span>
            <span>/api/v1/comment/1/</span>
            <span>/api/v1/question/</span>
            <span>/api/v1/question/1/</span>
            <span>/api/v1/location/</span>
            <span>/api/v1/location/1/</span>
        </div>

        <div id="post">
            <strong>POST</strong>

            <span id="listing_post">/api/v1/listing/</span>
            <script>
                $('#listing_post').click(function(e) {
                    $.Create({
                        url: $(this).text(), 
                        data: {
                            description: 'Slightly used Super 88 system', 
                            photo: 'uploads/7725.mariotwins.jpg', 
                            price: '2', 
                            user: '/api/v1/user/1/',
                            latitude: '43.6519', 
                            longtitude: '-79.3736',
                            photo: {
                                'name': 'poop.gif',
                                'file': '/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBggGBQkIBwgKCQkKDRYODQwMDRoTFBAWHxwhIB8cHh4jJzIqIyUvJR4eKzssLzM1ODg4ISo9QTw2QTI3ODUBCQoKDQsNGQ4OGTUkHiQ1NDU1NTU1NTU1LDU1NSo1KTU1NTU1NDUsNTU0LCw1NTU1NTU1NTU1NTU1NTUwNTU1Nf/AABEIABMAEwMBIgACEQEDEQH/xAAYAAEAAwEAAAAAAAAAAAAAAAAABgcIBf/EACQQAAICAgICAQUBAAAAAAAAAAECAwQFEQAhBhJBBxMUIjFx/8QAFQEBAQAAAAAAAAAAAAAAAAAABAL/xAAbEQACAwADAAAAAAAAAAAAAAAAAQIDEQQhgf/aAAwDAQACEQMRAD8AuqzN+LuzPYhgpwxO0xkGta0fb3J0qgBt7HyDsa7gH0++olDMLImXs/iXE/IsxtLdLxGJ2+8yEnQDxLpdMNhV2ugWAi/nPlUnkecu42KVYMXUutHYrWLLKbEifoX/ALpVVkBVF6JBZtMw9Y6MjlMJcjyuPNZpKs5lrivGGRiQVJlJPY9Cyn10f2PyAQCzmKNqgvREaG4aaMgMrV4zYRI5ioMiRuXVW12AxAJG/nQ/wcc5niXkUflfi9PLx13rCyGDQuwYoysUYbH9Hsp0etjXQ/nHHhynPr/jqvjmUxWQw8Qp2si88ll4ydOy/b0wU9KdsxJAGydnZ5XnjWSuZzzDD0MnZlsVrV+CGZGYj2VnCkbHY6J7B3xxyHXBvWkUpyXWms8ZjKmGxsNDHQLXqwL6xxr8fJJJ7JJ2ST2SST3xxxyyT//Z',
                                'content_type': 'image/gif'
                            }
                        },
                        success: function(data) {
                            console.log(data);
                        }
                    });
                });
            </script>

        </div>
    </body>
</html>
